h3 {
    margin-left: 0px;
    margin-top: 20px;
    height: 50px;
    padding: 10px;
    background-color: blueviolet;
   font-family: 'Courier New', Courier, monospace;
text-align: center;
color: white;
background-size: 200px;
}
body {
    margin-left: 20px;
}
.fields {
    margin-left: 20px;
}